@use "../global" as global;

.p-about {
    padding: 160px 0;
    background: global.$text-color2;
    position: relative;
    z-index: global.$section;

    @include global.mq(tab) {
        padding: 160px 20px 140px 20px;
    }

    @include global.mq(sp) {
        padding: 160px 20px 140px 20px;
    }
}

.p-about__inner {
    max-width: 888px;
    margin: 0 auto;
}

.p-about__title {
    text-align: center;
}

.p-about__wrapper {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 60px;

    @include global.mq(tab) {
        gap: 40px;
    }

    @include global.mq(sp) {
        display: block;
    }
}

.p-about__img {
    width: 316px;
    height: 316px;
    border: 1px solid #000;
    border-radius: 50%;

    @include global.mq(tab) {
        width: 230px;
        height: 230px;
    }

    @include global.mq(sp) {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.p-about__content {
    width: calc(100% - 376px);

    @include global.mq(tab) {
        width: calc(100% - 270px);
    }

    @include global.mq(sp) {
        width: 100%;
        margin-top: 60px;
        padding: 0 10px;
    }
}

.p-about-profile__title {
    font-size: 24px;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: global.$ff-en;
    padding-bottom: 6px;
    border-bottom: 2px solid global.$main-color2;
    position: relative;

    &::before {
        content: "";
        width: 30%;
        border-bottom: 2px solid #0B885B;
        position: absolute;
        left: 0;
        bottom: -2px;
    }
}

.p-about-profile__text {
    line-height: 1.4;
    margin-top: 10px;
}