@use "../global" as global;

.p-footer-sns {
    display: flex;
    justify-content: center;
    gap: 40px;

    @include global.mq(sp) {
        gap: 32px;
    }
}

.p-footer-sns__link {

    &:hover {
        i {
            opacity: 0.8;
            transform: translateY(2px);
        }
    }

    i {
        font-size: 40px;
        color: global.$text-color2;
        transition: 0.3s ease;

        @include global.mq(sp) {
            font-size: 28px;
        }
    }
}