@use "../global" as global;

.p-form {

}

.p-form__row {
    margin-top: 40px;
}

.p-form__head {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        font-size: 12px;
        padding: 6px 4px;
        color: global.$text-color2;
        background: global.$accent-color;
        border-radius: 4px;
        display: inline-block
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    background: global.$text-color2;
    border: 1px solid global.$main-color2;
    border-radius: 4px;
    margin-top: 10px;

    &::placeholder {
        opacity: 0.8;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    height: 40px;
    background: global.$text-color2;
    padding: 2px 10px;
    border: 1px solid global.$main-color2;
    border-radius: 4px;
}

textarea {
    height: 240px;
    line-height: 1.4;
    padding: 12px 10px;
}

.p-form__button {
    text-align: center;
    margin-top: 60px;
}

input[type="submit"] {
    color: global.$text-color2;
    background: global.$main-color2;
    padding: 18px 76px;
    border-radius: 25px;
    box-sizing: border-box;
    transition: 0.3s ease;

    &:hover {
        color: global.$main-color2;
        background: global.$text-color2;
        padding: 18px 76px;
        border: 1px solid global.$main-color2;
    }
}