@use "../global" as global;

.p-hamburger {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: global.$hamburger;
    display: none;
    cursor: pointer;

    @include global.mq(tab) {
        display: block;
    }

    @include global.mq(sp) {
        display: block;
    }

    &.is-open {
        .p-hamburger__bar1 {
            top: 19px;
            left: 0;
            transform: rotate(45deg) translateY(-50%);
        }

        .p-hamburger__bar2 {
            opacity: 0;
        }

        .p-hamburger__bar3 {
            bottom: 19px;
            left: 0;
            transform: rotate(-45deg) translateY(-50%);
        }
    }
}

.p-hamburger__inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.p-hamburger__bar1,
.p-hamburger__bar2,
.p-hamburger__bar3 {
    width: 100%;
    height: 2px;
    background: global.$text-color2;
    position: absolute;
    transition: 0.3s ease;
}

.p-hamburger__bar1 {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.p-hamburger__bar2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p-hamburger__bar3 {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}