@use "../global" as global;

.p-mv {
    height: 100vh;
    position: relative;
    z-index: global.$section;

    &.sub-page {
        height: 500px;

        @include global.mq(sp) {
            height: 300px;
        }
    }
}

.p-mv__title {
    text-align: center;
    font-size: 122px;
    letter-spacing: 0.08em;
    font-family: global.$ff-en;
    color: global.$text-color2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include global.mq(tab) {
        font-size: 80px;
    }

    @include global.mq(sp) {
        font-size: 42px;
    }

    &.sub-page {
        font-size: 100px;

        @include global.mq(tab) {
            font-size: 80px;
        }

        @include global.mq(sp) {
            font-size: 42px;
        }
    }
}