@use "../global" as global;

.p-skills-page-card {
    padding-top: 60px;
    margin-top: -60px;
}

.p-skills-page-card__wrapper {
    height: 100%;
    background: global.$sub-color;
    padding: 20px;
    border-radius: 20px;

    @include global.mq(tab) {
        padding: 20px 30px;
        margin-top: 40px;

        &:first-child {
            margin-top: 0;
        }
    }

    @include global.mq(sp) {
        margin-top: 50px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.p-skills-page-card__img {
    width: 300px;
    height: 300px;
    margin: 0 auto;

    @include global.mq(sp) {
        width: 150px;
        height: 150px;
    }

    &.small {
        img {
            object-fit: cover;
            transform: scale(0.9);
        }
    }

    img {
        width: 100%;
        height: 100%;
     
    }
}

.p-skills-page-card__content {
    background: global.$text-color2;
    border-radius: 20px;
    padding: 30px 20px 20px 20px;
    margin-top: 20px;
}

.p-skills-page-card__title {
    text-align: center;

    @include global.mq(sp) {
        font-size: 18px;
        font-weight: bold;
    }
}

.p-skills-page-card__text {
    margin-top: 40px;
    line-height: 1.4;

    @include global.mq(sp) {
        font-size: 16px;
    }
}

.p-skills-page-card__lists {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include global.mq(sp) {
        font-size: 14px;
        gap: 12px;
    }
}


