@use "../global" as global;

.p-skills-page {
    padding: 160px 20px;
    background: global.$text-color2;
    position: relative;
    z-index: global.$section;

    @include global.mq(tab) {
        padding: 160px 30px;
    }
}

.p-skills-page__wrapper {
    display: grid;
    column-gap: 20px;
    row-gap: 40px;
    grid-template-columns: repeat(2, (1fr));

    @include global.mq(tab) {
        display: block;
    }

    @include global.mq(sp) {
        display: block;
    }
}