@use "../global" as global;

.p-thanks {
    padding: 110px 20px 160px 20px;
    background: global.$text-color2;
    position: relative;
    z-index: global.$section;

    @include global.mq(sp) {
        padding-bottom: 200px;
    }
}

.p-thanks__message {
    text-align: center;
    max-width: 688px;
    margin: 0 auto;
    line-height: 1.4;

    span {
        color: global.$accent-color;
    }
}