//色
$main-color1: #C6EDE4;
$main-color2: #204969;
$sub-color: #F5F5F5;

$title-color: #222039;
$text-color1: #3F3333;
$text-color2: #fff;

$button-color: #6BB2F3;

$accent-color: #F03535;

//フォント
$ff-jp: 'Noto Serif JP', serif;
$ff-en: 'Courgette', cursive;

//インナー
$inner-width: 1280px;
$sp-inner-width: 600px;

//ブレークポイント
$breakpoints: (
    "sp": "screen and (max-width: 599px)",
    "tab": "screen and (min-width: 600px) and (max-width: 1024px)",
    "pc": "screen and (min-width: 1025px)"
);

//z-index
$hamburger: 50;
$drawer: 40;
$to-top: 30;
$header: 20;
$section-bg: 15;
$section: 10;