@use "../global" as global;

.c-contact-button {
    line-height: 1.6;
    display: inline-block;
    background: global.$button-color;
    color: global.$text-color2;
    border-radius: 30px;
    padding: 12px 47px 12px 83px;
}