@use "../global" as global;

.c-section-title {
    font-size: 48px;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-family: global.$ff-en;
    text-align: center;
    padding-bottom: 12px;
    position: relative;

    &::before {
        content: "";
        width: 80px;
        height: 2px;
        background: global.$main-color2;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    @include global.mq(sp) {
        font-size: 34px;
    }
}
